// BREAKING ALERT
// ---------------

.alert h4 {
	display: inline-block;
	font-weight: 600;
}

.ad-placeholder {
	background-color: #95a5a6;
}

// SEARCH AREA
// ---------------

.cust-search-area form {
	margin: 5px 0px;
}

// ARTICLE PAGE STYLES
// ---------------

.article-title-block {
	margin-bottom: 25px;
}

.article-lead-image-block {
	background-color: @clouds;
	border-bottom: 1px solid @silver;
	margin: auto -15px 15px -15px;
	
	@media (min-width: @screen-sm-min) {
		margin: auto auto 15px auto;
	}
}

.byline {
	padding-bottom: 15px;
}

.pub-date {
	border-top: 1px solid @silver;
	border-bottom: 1px solid @silver;
	margin-bottom: 0;
	padding: 15px 0px;
}

.pub-date p {
	margin: 0;
}

.pub-date li {
	padding-left: 0;
	padding-right: 15px;
}

.pub-date .label {
	font-size: 85%;
	font-weight: 600;
}

.img-caption {
	padding: 10px 15px;
	margin-bottom: 0;
}

.inline-image-article {
	margin-right: 25px;
}

.article-social-block {
	border-bottom: 1px solid @silver;
	margin-bottom: 20px;
}

.social-share-buttons li {
	padding: 0;
}

.social-gp {
	width: 72px;
}

.social-twitter {
	width: 86px;
}

// AD PLACEHOLDERS - Can be removed from production
// ---------------

.leaderboard {
	width: 728px;
	height: 90px;
}

.medium-rectangle {
	width: 300px;
	height: 250px;
}

.three-by-one {
	width: 300px;
	height: 100px;
}

.panel-heading-ad {
	width: 320px;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.breaking-ad {
	width: 320px;
	height: 50px;
	float: right;
}

/* OTHER PLACEHOLDERS - Can be removed from production */

.ndn-inline-590 { 
	width: 590px;
	height: 200px;
}

.ndn-inline-300 {
	width: 300px;
	height: 250px;
}

/* MASTHEAD STYLES */

.top-links {
	border-bottom: 1px solid @silver;
	padding: 5px 0px;
}

.cust-main-nav-links {
	font-weight: 600;
}

// FRONTPAGE PANELS
// --------------------

.cust-col-main, .cust-col-sidebar {
	float: left;
}


@media (min-width: @screen-sm-min) {
	.main-cont .cust-col-main {
	width: (@screen-sm - 350);
	}
	
	.main-cont .cust-col-sidebar {
		width: 330px;
	}
}

@media (min-width: @screen-md-min) {
	.main-cont .cust-col-main {
	width: (@screen-md - 355);
	}
	
	.main-cont .cust-col-sidebar {
		width: 330px;
	}
}

@media (min-width: @screen-lg-min) {
	.main-cont .cust-col-main {
	width: (@screen-lg - 380);
	}
	
	.main-cont .cust-col-sidebar {
		width: 330px;
	}
}

.cust-frontpage-sections .panel-heading {
	min-height: 50px;
}

.cust-section-head {
	padding-top: 5px;
	margin: 0;
}

// SIDEBAR
// --------------------

.main-sidebar {
	padding-top: 0px;
	margin-top: 0px;
}

// SEARCH BAR COLLAPSE
// --------------------

.search-collapse {
  overflow-x: visible;
  .clearfix();
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
  }

  @media (min-width: @screen-sm) {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: auto;
    }

    // Account for first and last children spacing
    .navbar-nav.navbar-left:first-child {
      margin-left: -@navbar-padding-horizontal;
    }
    .navbar-nav.navbar-right:last-child {
      margin-right: -@navbar-padding-horizontal;
    }
    .navbar-text:last-child {
      margin-right: 0;
    }
  }
}

.search-toggle {
  position: relative;
  
  @media (min-width: @screen-sm) {
    display: none;
  }
}


// RANDOM STUFF
// --------------------

.cust-relative {
	position: relative;
}